*  {
    margin:0;
    padding:0;
    font-size: 100%;
}

/*TYPO*/
@font-face{
    font-family: 'AmercianHorrorStory';
    src: url('../fonts/american-horror-story-font/AmericanHorrorStory-8VwZ.otf'); 
}

@font-face{
    font-family: 'Voltaire';
    src: url('../fonts/Voltaire/Voltaire-Regular.ttf'); 
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: auto;
}

header h2{
    font-family: 'AmercianHorrorStory';
    font-size: 60px;
    color:white;
    text-align: center;
}

.logo{
    width: 100px;
    height:auto;
    margin: 20px;
}

.logo:hover{
    box-shadow: 1px 2px 18px #C4C4C4;
}

main{
    display:flex;
    flex-direction: column;
}

.synopsys{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    background-image: url('../images/saison8_post.jpg');
    min-height: 600px; 
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:30px;
    padding-top: 50px;
    width: 50%;
    height: auto;
    z-index: 2;
    background-attachment: scroll;
}

h3{
    font-family: 'Voltaire';
    font-size: 35px;
    color: white;
    z-index: 3;
    opacity: 100%;
}

.box p{
    font-family: 'Voltaire';
    font-size: 25px;
    color: white;
    z-index: 3;
   
}

.video{
    display: flex;
    flex-direction: row;
    position:relative;
    top: 600px;
    width: 100%;
    height: auto;
}

iframe{
    width: 100vw;
    height: 600px;
}