// @import '../../node_modules/bootstrap/scss/bootstrap.scss';
*  {
    margin:0;
    padding:0;
    font-size: 100%;
}

/*TYPO*/
@font-face{
    font-family: 'AmercianHorrorStory';
    src: url('../fonts/american-horror-story-font/AmericanHorrorStory-8VwZ.otf'); 
}

header{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h1{
        text-align: center;
        font-family: 'AmercianHorrorStory'; 
        font-size: 60px;
        color:white;
    }

    h1:hover{
        text-align: center;
        font-family: 'AmercianHorrorStory'; 
        font-size: 60px;
        color:white;
        text-shadow: 1px 2px 18px #C4C4C4;
        cursor: pointer;
    }
}

h1.booh{
    background-image: url(../images/blood-splash.png);
    background-attachment: fixed;
    background-position: center;
    background-size: 600px;
    text-align: center;
    font-family: 'AmercianHorrorStory'; 
    font-size: 200px !important;
    color:white;
    text-shadow: 1px 2px 18px #C4C4C4; 
}

.poster-text {
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0;
    transform: translateY(0);
    transition: all .4s;
}

img{
    width:400px;
    height:auto;
    position: relative;
    
}

.poster-section {
    width:400px;
    height: 400px; 
    overflow: hidden;
    transition: all .4s;
    transform: scale(1);
    transition: 2s ease-in-out;
}

.poster-section:hover > .poster-img {
    transform: scale(1.25);
    overflow: visible;
    z-index:2;
    transition: 2s ease-in-out;
}

.poster-section:hover > .poster-text {
    opacity: 1;
    transform: translateY(200%);
    transition-delay: 1s;
}

main{
    display: flex;
    height: 1420px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: black;

    section{
        position: relative;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2{
            text-align: center;
            font-family: 'AmercianHorrorStory'; 
            font-size: 80px;
        }
    }
  
    #murder{
        color: black;
    }
 
    #asylum{
        color:black;
    }
 
    #coven{
        color:white;
    }
 
    #freak{
        color:white;
    }

    #hotel{
        color:black;
    } 

    #roanoke{
        color:white;
    }

    #cult{
        color:black;
    }
  
    #apocalypse{
        color:white; 
    }

    #s1984{
        color:white;
    }
    
}


