* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/*TYPO*/
@font-face {
  font-family: "AmercianHorrorStory";
  src: url("../fonts/american-horror-story-font/AmericanHorrorStory-8VwZ.otf");
}
header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header h1 {
  text-align: center;
  font-family: "AmercianHorrorStory";
  font-size: 60px;
  color: white;
}
header h1:hover {
  text-align: center;
  font-family: "AmercianHorrorStory";
  font-size: 60px;
  color: white;
  text-shadow: 1px 2px 18px #C4C4C4;
  cursor: pointer;
}

h1.booh {
  background-image: url(../images/blood-splash.png);
  background-attachment: fixed;
  background-position: center;
  background-size: 600px;
  text-align: center;
  font-family: "AmercianHorrorStory";
  font-size: 200px !important;
  color: white;
  text-shadow: 1px 2px 18px #C4C4C4;
}

.poster-text {
  opacity: 0;
  position: absolute;
  z-index: 3;
  top: 0;
  transform: translateY(0);
  transition: all 0.4s;
}

img {
  width: 400px;
  height: auto;
  position: relative;
}

.poster-section {
  width: 400px;
  height: 400px;
  overflow: hidden;
  transition: all 0.4s;
  transform: scale(1);
  transition: 2s ease-in-out;
}

.poster-section:hover > .poster-img {
  transform: scale(1.25);
  overflow: visible;
  z-index: 2;
  transition: 2s ease-in-out;
}

.poster-section:hover > .poster-text {
  opacity: 1;
  transform: translateY(200%);
  transition-delay: 1s;
}

main {
  display: flex;
  height: 1420px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: black;
}
main section {
  position: relative;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section h2 {
  text-align: center;
  font-family: "AmercianHorrorStory";
  font-size: 80px;
}
main #murder {
  color: black;
}
main #asylum {
  color: black;
}
main #coven {
  color: white;
}
main #freak {
  color: white;
}
main #hotel {
  color: black;
}
main #roanoke {
  color: white;
}
main #cult {
  color: black;
}
main #apocalypse {
  color: white;
}
main #s1984 {
  color: white;
}

/*# sourceMappingURL=style.css.map */
